<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit">
    </form>
    <h4>Square of first number {{num1_sq}}</h4>
    <h4>Square of 2nd number {{num2_sq}}</h4>
    <h4>Final Result {{final_result}}</h4>


</body>
</html>