<!DOCTYPE html>
<html>
<head>
    <title>Enter Marks</title>
</head>
<body>
    <h1>Enter Marks for 5 Subjects</h1>
    <form action="/" method="post">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p style="color: red;">{{ messages[0] }}</p>
        {% endif %}
        {% endwith %}
        Subject 1: <input type="text" name="subject1"><br>
        Subject 2: <input type="text" name="subject2"><br>
        Subject 3: <input type="text" name="subject3"><br>
        Subject 4: <input type="text" name="subject4"><br>
        Subject 5: <input type="text" name="subject5"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>

